#root {
  width: 100%;
  margin: 0;
  padding: 0 2rem 2rem; 
  text-align: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}